/*SplashScreen.css*/
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #00a6ff;
    border-top: 10px solid rgba(2, 182, 243, 0.71);
    border-right: 10px solid #b075f8;
    border-bottom: 10px solid rgba(236, 165, 255, 0.89);
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.logo {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
